/* root colors for all of the elements to use */
:root {
  --tiffanyBlue: #3ac5d0;
  --blueGrotto: #2187b0;
  --pewter: #c9d8d0;
  --slate: #7c9da0;
}
/* this is used to make everything that is not have a background color to have it*/
* {
  background-color: var(--tiffanyBlue);
}
/*header elements getting properties*/
header {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: whitesmoke;
  width: 100%;
  height: 250px;
  background-color: rgb(27, 27, 88);
  background-image: linear-gradient(#3ac5d0, #2187b0, #3ac5d0);
  border: 10px solid whitesmoke;
}

#city {
  border: 10px solid whitesmoke;
}

/* weather container section */
#weatherContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  height: 600px;
  border: solid 10px whitesmoke;
}

/* input container div that stores previous searches and user input */
#inputContainer {
  text-align: center;
  width: 30%;
  height: 600px;
  border: 1px solid black;
  background-color: rgb(218, 194, 163);
}

#cityNameInput {
  text-align: center;
  width: 200px;
  font-size: 25px;
  height: 50px;
  margin-top: 25px;
  background-color: whitesmoke;
  resize: both;
}
#submit {
  margin-top: 25px;
  font-size: 50px;
  background-image: linear-gradient(45deg, #7c9da0, #c9d8d0, #7c9da0);
}

/* past userinputs contained within a button */
#pastButtons {
  width: 172px;
  height: 60px;
  font-size: 30px;
  margin: 2px;
  background-image: linear-gradient(45deg, #7c9da0, #c9d8d0, #7c9da0);
}
button:active {
  transform: scale(0.95);
}

#previousSearch {
  display: none;
  background-color: rgb(218, 194, 163);
  color: black;
}
#previousSearchButtons {
  display: none;
  background-color: rgb(218, 194, 163);
  color: whitesmoke;
}
/* rangeWeather div that contains the city name and information for today */
#rangeWeather {
  display: inline-block;
  width: 100%;
  height: 600px;
  background-color: var(--blueGrotto);
  border: 1px solid black;
  font-size: 40px;
}
ul {
  background-color: var(--blueGrotto);
  list-style-type: none;
  width: 70%;
  height: 90%;
}
ul img {
  width: 150px;
}
h2 {
  display: none;
  background-color: whitesmoke;
  color: black;
}
h3 {
  background-color: var(--blueGrotto);
  color: var(--pewter);
}
li {
  background-color: var(--blueGrotto);
  color: var(--pewter);
}
/* rangeWeather section that contains the city information for five days */
#fiveDayContainer {
  display: flex;
  width: 100%;
  height: 1000px;
  border: solid 10px whitesmoke;
  font-size: 25px;
}
#dayByDay {
  width: 100%;
  border: 1px solid black;
  background-color: var(--slate);
  font-size: 25px;
  display: inline-block;
  justify-content: space-between;
}

.data {
  background-color: whitesmoke;
}
p {
  background-color: var(--blueGrotto);
}
.day-container {
  background-color: var(--blueGrotto);
  color: var(--pewter);
  display: inline-block;
  width: 18%;
  height: 40vh;
  border: 1px solid black;
  margin-left: 38.4px;
  margin-top: 10px;
}
